@using MvcKutuphaneUdemy.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Gelen Mesajlar Sayfası</h2><br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>@foreach(var mesaj in Model)
    {
        <tr>
            <td>@mesaj.GONDEREN</td>
            <td>@mesaj.KONU</td>
            <td>@mesaj.ICERIK</td>
            <td>@mesaj.TARIH</td>
        </tr>
    }

    </tbody>
</table>

